<section id="galleri">

        <div class="container">
          <h2 class="text-center">Galleri</h2>
          
          <div class="row">
          
          <!-- Elementet  -->
            <div class="col-sm-4 portfolio-item">
              <img class="img-fluid" src="img/bil (1).png" alt="">  
            </div>
          <!-- Slut  -->
          </div>

  </div>
  