<section id="galleri">

        <div class="container">
          <h2 class="text-center">Galleri</h2>
          
          <div class="row">
          
          <!-- Elementet  -->
          <% galleri.forEach(function(element) { %>

          <div class="col-sm-4 portfolio-item">
            <img class="img-fluid" src="/img/<%= element.billede %>">    
            </div>
          <% }); %>  
      
              <!-- Slut  -->
          </div>

  </div>
  