<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Frisoersalonnen der tilbyder hurtig nem billig service">
    <meta name="author" content="Joshua Schultz">

    <title>MuskelKlip</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/freelancer.min.css" rel="stylesheet">
<<<<<<< HEAD
    <link href="css/galleri.css" rel="stylesheet">  
    <link rel="stylesheet" href="css/header.css">  
=======
<<<<<<< HEAD

    
    
=======
    <link href="css/galleri.css" rel="stylesheet">    
>>>>>>> bb16fc16aa6906f2fd20656f5b99beaebbab21d4
>>>>>>> 6ccb69d1eb27a027e962ae243ab58e84a20d2083
</head>

