<header class="masthead">
    <div class="container">
      <img src="img/profile.png" alt="" width="300" class="img-fluid">
      <div class="intro-text">
        <span class="name">MuskelKlip</span>          <span class="skills">Fairtrade - Fair Priser - Enkel Bestilling - Erfaren Personale</span>
      </div>
    </div>
</header>