

<section id="kontakt">

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 m-auto">
      <div class="contact-form">
        <h1>Contact Us</h1>

        <form action="#" method="#">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputName">Navn</label>
                <input type="text" class="form-control" id="inputName" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">

                <label for="inputTime">Tidspunkt</label>

                <select class="custom-select form-control" id="inputTime" required>
                  <option selected>Vælg Tidspunkt</option>e
                  <option value="1">10:00</option>
                  <option value="2">10:30</option>
                  <option value="3">11:00</option>
                  <option value="4">11:30</option>
                  <option value="5">12:00</option>
                  <option value="6">12:30</option>
                  <option value="7">13:00</option>
                  <option value="8">13:30</option>
                  <option value="9">14:00</option>
                  <option value="10">14:30</option>
                </select>


              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputPhone">Telefon</label>
                <input type="number" class="form-control" id="inputPhone" required>
              </div>
            </div>
          </div>


          <div class="row img-cutters">
            <div class="col-sm-4">
              <p class="imgthumbname">Frank</p>
              <img class="img-thumbnail" src="../../img/Frank.jpg" alt="Frank">
            </div>
            <div class="col-sm-4">
              <p class="imgthumbname">Ady</p>
              <img class="img-thumbnail" src="../../img/Addy.jpg" alt="Ady">
            </div>
            <div class="col-sm-4">
              <p class="imgthumbname">Hanne</p>
              <img class="img-thumbnail" src="../../img/Hanne.jpg" alt="Hanne">
            </div>
          </div>

          <div class="row">
          <div class="col-sm-6">

            <div class="form-group">
              
              <label for="inputCutter">Vælg Frisør</label>
              
              <select class="custom-select form-control" id="inputCutter" required>
                <option selected>Vælg Her</option>
                <option value="1">Frank</option>
                <option value="2">Ady</option>
                <option value="3">Hanne</option>
              </select>
            </div>
          </div>
        </div>
          

          <div class="form-group">
            <label for="inputBesked">Besked (Fx. Hvilken slags klip)</label>
            <textarea class="form-control" id="inputBesked" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="submitBtn">
            <i class="fa fa-paper-plane"></i>Send</button>
        </form>
      </div>
    </div>
  </div>
</div>

</section>

<script src="../../js/kontakt.js"></script>