<section class="success" id="medarbejdere">

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 m-auto">
                <h1>Medarbejdere</h1>
                
                <div class="row img-cutters">
                    <div class="col-sm-4">
                        <img class="rounded-circle img-responsive" src="../../img/216.jpg" alt="Frank">
                        <h3 class="roundedImg">Frank</h3>
                        <p class="roundedInfo">Er en smule nyere i faget med omkring fire år i faget, dog er han talent ikke noget at spøge med han
                            står hovedsageligt for maskinklipninger og trimninger.</p>
                        </div>
                        <div class="col-sm-4">
                            <img class="rounded-circle img-responsive" src="../../img/216.jpg" alt="Ady">
                            <h3 class="roundedImg">Ady</h3>
                            <p class="roundedInfo">Han er langt fra ny i faget og er stærk rutineret i manuel klipning og trimming, har har arbejdet for
                                nogle af de bedste frisører i landet og har enda klipper filmstjerner.</p>
                            </div>
                            <div class="col-sm-4">
                                <img class="rounded-circle img-responsive" src="../../img/216.jpg" alt="Hanne">
                                <h3 class="roundedImg">Hanne</h3>
                                <p class="roundedInfo">Er en super dygtig elev lige uddannet fra frisørskolen i korsør med flotte udtalelser og fantastisk talent,
                                    hun er særligt god til plejning af håret og frisaure opsætning.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
</section>