<section class="success" id="omos">
    
          <h2 class="text-center"> Hvem er vi </h2>
  <div class="row">
        <div class="col-lg-4 ml-auto">
          <p>
                Muskel Klip er en ny herre-frisør i roskilde på ros torv de to frisører besluttede at gå selvstændig efter en længere karriere som frisører i Korsør, nu er du klar til at stå på egne ben og klippe, frisere
          </p>
        </div>
            <div class="col-lg-4 mr-auto">
              <p> 
                    og trimme dit skæg eller hår til fornuftige lave priser, de har i øvrigt hyret en dygtig frisør elev ved navn Hanne, teamet er klar til at modtage dig på Ros torv i roskilde, vi håber du kommer forbi!
              </p>
            </div>
  

          </div>
        </div>
  </section>